pre.preRender{
  word-wrap: break-word;
  background-color: antiquewhite;
  overflow: scroll;
  white-space: pre-wrap;
  
  /* height: 80vh; */

}

div.falsed{
  display: none;
}
div.trued{
  display: block;
  text-align: center;
}
.left{
  height: 80vh;
}
.right{
  height: 70vh;
}
button.backendURLButton{
  float: right;
}
input.url{
  width: fit-content;
}
input.dyna{
  margin: 0;
}
.GetHtml{
  width: 100%;
  height: 5%;
  text-align: center;
  background-color: bisque;
  border: solid 1px black;
}
.leftWorld{
  display: inline-block;
  position: absolute;
  width: 49%;
  height: 90%;
  background-color: aliceblue;
  border: solid 1px black;
  left: 0;
}
.rightWord{
  display: inline-block;
  position: absolute;
  width: 49%;
  height: 90%;
  background-color: azure;
  border: solid 1px black;
  right: 0;
}
div.App{
  left: 0.5vw;
  position:absolute;
  width: 99vw;
  height: 99vh;
}